body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #FFF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #FFF
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 120x;
    color: #FFFFFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 90x;
    color: #FFFFFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 50px;
    color: #FFFFFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 30px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 50px;
}

ul.posts li {
    list-style: none;
}
