body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #FFF;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #FFF
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 70px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 30px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 20px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 20px;
    color: #FFF;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 20px;
}

ul.posts li {
    list-style: none;
}
ol li {
    font-size: 20px;
    font-style: italic;
    color:#FFF;
    margin-top: 5px;
    
}

figure { 
    display: block;
    width: 30%;
    margin-top: .5em;
    max-width: 100%;
    height: auto;
    /*margin-bottom: .5em;*/
    margin-left: 40px;
    margin-right: 40px;
    
}
figcaption {
font-size: 20px; 
  
}
input[type=text] {
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}
label {
color: #B4886B;
font-weight: bold;
display: block;
width: 150px;
float: left;
}
label:after { content: ": " }
