<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/SportTweet/css/main.css">
		</head>
		<body background="/SportTweet/images/bg1.jpg"; background-repeat:no-repeat;

   		background-size:cover;>
			<nav>
	    		<ul>
	        		<li><a href="/SportTweet/">Home</a></li>
		        	<li><a href="/SportTweet/about">About</a></li>
	        		<li><a href="/SportTweet/results">Results</a></li>
				<li><a href="/SportTweet/futurework">Future Work</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sreyag28@gmail.com">email</a></li>
	        		<li><a href="https://github.com/SreyaG/SportTweet">github.com/SreyaG/SportTweet</a></li>
				</ul>
			</footer>
		</body>
	</html>
